body{
    margin: 0;
    padding: 0;
    font-family: Ubuntu, sans-serif;
    color: #283654;
    background-color: white;
}

a{
    text-decoration: none;
}

h1{
    font-size: 4rem;
    color: #88A7Eb;
}

h2{
    font-size: 2rem;
}

.logo{
    width: 150px;
    margin: 15px 0px;
}

nav{
    display: flex;
    position: fixed;
    top: 0px;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dddddd;
}
.menus{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.menu{
    padding-right: 1.75rem;
}

#current-menu{
    color: #dddddd;
}

.button{
    background-color: #cfeb7c;
    border-radius: 7px;
    box-shadow: none;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    font-size: 1.25rem;
    font-family: Ubuntu, sans-serif;
    padding: 1rem 1rem;
    border-style: none;

}

@media only screen and (max-width: 400px){
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    .button{
        font-size: 0.8rem;
    }

    .menu{
        font-size: 0.80rem;
    }
    .logo{
        width: 100px;
    }
}