body{
    position: relative;
    top: 10rem;
}

.ultra-container{
    max-width: 800px;
    margin: 0px auto;
}

.big-text{
    display: flex;
}

.blue{
    color: #88A7EB;
    padding-right: 0.5rem;
}

.hero{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

.hero img{
   width: 390px;
   height: auto;

}

.p-container{
    max-width: 390px;
    font-size: 1.15rem;
}

.grid{
    display: grid;
    grid-template-areas:
    "under post"
    "work work"
    ;
    padding-top: 1.75rem;
    column-gap: 10px;
    row-gap: 10px;
}

#under{
    grid-area: under;
}

#post{
    grid-area: post;
}

#work{
    grid-area: work;
}

.qual-box{
    background-color: #dddddd;
    border-radius: 10px;
    padding-top: 0.25rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1.5rem;
}

.qual-box p{
    font-size: 1.15rem;
}

.qual-box h4{
    font-size: 2rem;
    margin-bottom: 1.25rem;
    color: #88A7EB
}

.after-text {
    font-size: 1.25rem;
    text-align: center;
}

.after-text h4{
    font-weight: 400;
}

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.skills li{
    list-style-type: none;
    padding: 0.5rem;
    font-size: 1.15rem;
    font-weight: 900;
}

.cta{
    color: #88A7EB;
    font-size: 1.25rem;
    text-align: center;
    padding-bottom: 2rem;
}

.cta h3{
    font-weight: 400;
    padding-bottom: 1rem;
}


@media only screen and (max-width:400px){

    body{
        top: 7rem;
    }

    .ultra-container{
        padding: 0;
        max-width: 300px;
    }

    .hero{
        flex-direction: column-reverse;
    }

    .hero img{
        max-width: 300px;
    }

    .p-container{
        max-width: 300px;
        font-size: 1rem;
        text-align: justify;
    }

    .grid{
        display: grid;
        grid-template-areas:
        "under"
        "post"
        "work"
        ;
        padding-top: 1rem;
        column-gap: 10px;
        row-gap: 10px;
    }

    .qual-box p{
        font-size: 0.8rem;
    }

    .qual-box{
        background-color: #dddddd;
        border-radius: 10px;
        padding-top: 1.25rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 0.5rem;
    }
    .qual-box h4{
        font-size: 1.5rem;
        margin-bottom: 0rem;
        margin-top: 0rem;
    }
    .after-text {
        font-size: 1rem;
    }

    .skills li{
        font-size: 1rem;
    }

    .skills ul{
        padding: 0;
    }

    .cta{
        font-size: 1rem;
    }
}